<section class="top-tutors">
  <h2>Top Tutors</h2>
  <div class="tutor-cards">
      <!-- <div class="tutor-card" *ngFor="let tutor of tutors">
          <img [src]="tutor.image" [alt]="tutor.name">
          <div class="tutor-info">
              <p>{{tutor.rate}}</p>
              <p>{{tutor.subject}}</p>
              <p>{{tutor.name}}</p>
              <p>{{tutor.rating}}</p>
              <p>{{tutor.experience}}</p>
              <button class="btn-book">Book</button>
          </div>
      </div> -->
  </div>
</section>
