<div class="container">
    <div class="left-panel">
        <p>Syncing Knowledge, Empowering Future</p>
    </div>
    <div class="right-panel">
        
        <form class="registration-form">
            <h1 class="Form-heading">Join Now for Success</h1>
            <input type="text" placeholder="Name*" required>
            <input type="email" placeholder="Email*" required>
            <input type="password" placeholder="Password*" required>
            
            <p class="password-requirements">
                Your password needs to include:
                <br>✔ Must contain one number
                <br>✔ Min 8 characters
            </p>
        
            <div class="terms">
                <input type="checkbox" id="agree">
                <label for="agree">I agree to the Terms & Privacy</label>
            </div>
        
            <button type="submit">SIGN ME UP!</button>
        
            <p class="login">Already have an account? <a href="#">Log in</a></p>
            
            <p class="or">Or</p>
        
            <div class="social-login">
                <button class="google">Sign Up with Google</button>
                <button class="apple">Sign Up with Apple</button>
            </div>
        </form>
        
    </div>
</div>